.container {
  padding: 10px 10px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  @media screen and (min-width: 1280px) {
    width: 1280px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

.surprise-roses {
  width: 100%;
  display: block;
}

.button-surprise {
  position: absolute;
  width: 80px;
  height: 40px;
  background-color: red;
  color: #fff;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.is-hidden {
  display: none;
}
