<div class="container" id="uk">
  <div class="wrap" id="surprise">
    <img src="/src/images/surprice.jpg" alt="surprise" class="is-hidden" />
    <img
      src="/src/images/roses-gif.gif"
      alt="roses"
      class="surprise-roses is-hidden"
      id="roses"
    />
    <audio
      src="/src/audio/prostotak.mp3"
      loop
      controls
      preload="auto"
      id="audio"
      class="is-hidden"
    ></audio>
  </div>
  <button type="button" class="button-surprise" id="btn-surprise">
    Тицяй!
  </button>
</div>
